body{
    //background-color: red;
    background-color: #00e2a90e;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #49be70;
    align-items: center;
    //padding-right: 5px;

    .contenFormulario{
        margin-right: 5px;

        input[type=file] {
            display: none;
        }

        label{
            box-sizing: border-box;
            border-radius: 5px;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: bold;
            margin-left: 15px;
            padding: 5px 5px 5px 5px;
            transition: 0.5s;

            &:hover{
                background-color: #8bf760cc;
                color: white;
            }
        }

        input[type=submit]{
            outline: none;
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: bold;
            color: white;
            border: none;
            border-radius: 5px;
            background-color: #49be70;
            padding: 5px;
    
            &:hover{
                background-color: #8bf760cc;
            }
        }
    }
}

.contentNav{
    background-color: #49be70;

    .menu{
        display: flex;
        list-style: none;
        flex-direction: row;
        margin: 0px;
        padding: 5px 0px 5px 0px;
        

        .menuItem{
            box-sizing: border-box;
            border-radius: 5px;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: bold;
            margin-left: 15px;
            padding: 5px 5px 5px 5px;
            cursor: pointer;

            &:hover{
                background-color: #8bf760cc;
                color: white;
            }

            &:first-child{
                margin-left: 0px;
            }
        }
    }
}

.navPagamento{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;

    input{
        outline: none;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: white;
        border: none;
        border-radius: 5px;
        background-color: #49be70;
        padding: 5px;

        &:hover{
            background-color: #8bf760cc;
        }
    }
    input[type=text] {
        background-color: #8bf760cc;
        color: white;
    }

    input[type=text]::-webkit-input-placeholder {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }

    input[type=date] {
        background-color: #8bf760cc;
        color: white;
    }
}

.contentCamp{
    //background-color: green;
    display: flex;
    border: 1px solid #00e2ab;
    margin-bottom: 10px;
    min-height: 100px;
    .tableWrapper{
        max-height: 100px;
        overflow-y: scroll;
        margin: 20px;
        .tableCampanha{
            border: 1px solid #00e2ab;
            border-bottom: none;
            border-collapse: collapse;
            width: 800px;
            
            
            th{
                position: sticky;
                top: 0px;
                background-color: #49be70;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
                color: white;
                justify-content: center;
                align-items: center;
            }
            
            td{
                padding-left: 20px;
                color: #11642d;
            }
            
        }
    }
}

.contentCli{
    display: flex;
    flex-direction: column;
    border: 1px solid #00e2ab;
    margin-bottom: 10px;
    //background-color: yellow;
    min-height: 350px;
    .tableWrapper{
        max-height: 280px;
        overflow-y: scroll;
        margin: 20px;
        display: flex;

        .tableCliente{
            border: 1px solid #00e2ab;
            border-collapse: collapse;
            width: 1500px;
            

            th{
                position: sticky;
                top: 0px;
                background-color: #49be70;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
                color: white;
                justify-content: center;
                align-items: center;
            }
            td{
                padding-left: 20px;
                color: #11642d;
            }
            
        }
    }
}

#resultado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    box-sizing: border-box;
    border: 1px solid #00e2ab;

    .display{
        display: flex;
        flex-direction: row;
        color: #11642d;
        span{
            margin-top: 23px;
            color: #00e2ab;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
    }
}

.overRetorno{
    position: absolute;
    width: 98%;
    height: 98%;
    padding: 0px 5px 0px 5px;
    top: 0px;
    background-color: #00e24b;;
    display: none;

    #buscarRetorno{
        margin: 120px 0px 0px 0px;
    }

    #margem{
        height: 140px;
        div{
            background-color: #00e2a90e;;
            display: flex;
            justify-content: flex-end;
            padding: 15px 5px 15px 0px;
        }
        
    }

    .contentRetorno{
        display: flex;
        flex-direction: column;
        border: 1px solid #00e2ab;
        margin-top: 5px;
        background-color: white;
        min-height: 350px;

        .tableWrapperRetorno{
            max-height: 280px;
            overflow-y: scroll;
            margin: 20px;
            display: flex;
            background-color: white;
    
            .tableRetorno{
                border: 1px solid #00e2ab;
                border-collapse: collapse;
                width: 100%;
                background-color: white;
    
                th{
                    position: sticky;
                    top: 0px;
                    background-color: #11642d;
                    color: white;
                    justify-content: center;
                    align-items: center;
                }

                td{
                    color: #11642d;
                }
                
            }
        }

        .contenFormulario{
            margin-right: 5px;
    
            input[type=file] {
                display: none;
            }
    
            label{
                box-sizing: border-box;
                border-radius: 5px;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
                font-weight: bold;
                margin-left: 15px;
                padding: 5px 5px 5px 5px;
                transition: 0.5s;
    
                &:hover{
                    background-color: #8bf760cc;
                    color: white;
                }
            }
    
            input[type=submit]{
                outline: none;
                margin: 0px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
                font-weight: bold;
                color: white;
                border: none;
                border-radius: 5px;
                background-color: #49be70;
                padding: 5px;
        
                &:hover{
                    background-color: #8bf760cc;
                }
            }
        }
    }
}

.over_active{
    display: block;
}
