body{
    //background-color: red;
}

.contentCamp{
    //background-color: green;
    display: flex;
    border: 1px solid black;
    margin-bottom: 10px;
    .tableWrapper{
        max-height: 100px;
        overflow-y: scroll;
        margin: 20px;
        .tableCampanha{
            border: 1px solid black;
            border-collapse: collapse;
            width: 800px;
            
            
            th{
                position: sticky;
                top: 0px;
                background-color: black;
                color: white;
                justify-content: center;
                align-items: center;
            }
            
            td{
                padding-left: 20px;
            }
            
        }
    }
}

.contentCli{
    display: flex;
    border: 1px solid black;
    margin-bottom: 10px;
    //background-color: yellow;
    .tableWrapper{
        max-height: 280px;
        overflow-y: scroll;
        margin: 20px;
        display: flex;

        .tableCliente{
            border: 1px solid black;
            border-collapse: collapse;
            width: 1500px;

            th{
                position: sticky;
                top: 0px;
                background-color: black;
                color: white;
                justify-content: center;
                align-items: center;
            }
            
        }
    }
}

#resultado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    box-sizing: border-box;
    border: 1px solid black;

    .display{
        display: flex;
        flex-direction: row;
        span{
            margin-top: 23px;
            color: red;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
    }
}
